<footer>
    <div class="f-info secbg">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/priyanshu_2384/" class="social-links texts"> <i class="fa-brands fa-instagram"></i> </a>
            <a href="https://www.linkedin.com/in/priyanshu2384/" class="social-links texts"> <i class="fa-brands fa-linkedin"></i></a>
            <a href="" class="social-links texts"><i class="fa-brands fa-facebook"></i></a>
        </div>
        <div class="f-info-brand texts"> &copy; VoyaBook</div>
        <div class="f-info-links">
            <a href="" class="texts">Privacy</a>
            <a href="" class="texts">Terms</a>
        </div>
    </div>
</footer>