<footer>
    <div class="f-info secbg">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/airbnbuk/" class="social-links texts"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/airbnb/" class="social-links texts"> <i class="fa-brands fa-instagram"></i> </a>
            <a href="https://www.linkedin.com/company/airbnb/" class="social-links texts"> <i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand texts"> &copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy" class="texts">Privacy</a>
            <a href="/terms" class="texts">Terms</a>
        </div>
    </div>
</footer>