<style>
    :root {
        --pink: #fe424d;
    }

    .brightmd {
        --bg: #ffffff;
        --text: #282828;
        --sec: #f8f9fa;
    }

    .darkmd {
        --bg: #282828;
        --text: #ffffff;
        --sec: #31363F;
    }

    .dark {
        border: none;
        color: var(--text) !important;
        background-color: transparent;
    }

    .bg {
        background-color: var(--bg) !important;
    }

    .secbg {
        background-color: var(--sec) !important;
    }

    .texts {
        color: var(--text) !important;
    }

    .btn-search {
        background-color: var(--pink);
        color: var(--bg);
        border-radius: 25px;
        padding: 0 1rem;
    }

    .btn-search:hover {
        background-color: var(--pink);
        color: var(--bg);
    }

    .btn-search i {
        display: inline;
        margin-right: 0.5rem;
    }

    .search-inp {
        border-radius: 25px;
        padding: 0.5rem 3rem;
    }

    .navColor {
        background: var(--sec);
    }

    .navbar-nav {
        margin: 5px;
    }

    .offcanvas-body {
        padding: 1rem;
    }

    .list-group-item {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        padding: 0.75rem 1rem;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    .list-group-item:last-child {
        border-bottom: none;
    }

    .list-group-item .fa {
        margin-right: 1rem;
    }

    .offcanvas-header h5 {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .profile-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-right: 0.5rem;
    }

    .profile-head {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .offcanvas-header {
        display: block;
    }

    .close-div {
        display: flex;
    }

    .profile-img-navbar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 0.5rem;
    }

    input::placeholder {
        color: var(--text) !important;
        opacity: 1;
    }

    .navbtn {
        background-color: #ffffff !important;
    }

    @media (max-width: 990px) {
        .navbar-brand {
            display: none;
        }
    }

    .navicon {
        background-color: transparent !important;
    }

    @media (min-width: 990px) {
        .navbar-brand-profile {
            display: none;
        }
    }

    @media (max-width: 990px) {
        .sidebar-profile {
            display: none;
        }
    }

    .form-control:focus {
        box-shadow: 0 0 0 0.2rem var(--pink) !important;
        border-color: var(--pink) !important;
    }

    .form-control {
        background-color: var(--sec) !important;
    }
    .navbar-brand-signup-login {
        display: flex;
        flex-direction: row;
    }
</style>

<nav class="navbar navbar-expand-lg border-bottom sticky-top bg-body-tertiary secbg">
    <div class="container-fluid secbg">
        <button class="navbar-toggler texts navbtn me-3" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand navicon" href="/listings"><i class="fa-solid fa-compass"></i></a>
        <div class="bright-dark-mode me-2">
        <button class="dark" id="mode"><i class="fa-solid fa-moon" style="font-size: larger;"></i></button>
        </div>
        <div class="navbar-brand-profile ms-auto texts">
            <% if(!currUser) { %>
                <div class="navbar-brand-signup-login">
                <div class="navbar-nav">
                    <a class="nav-link texts" href="/signup"><b>Sign up</b></a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link texts" href="/login"><b>Log in</b></a>
                </div>
            </div>
                <% }  else { %>
                        <button class="nav-link texts" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
                            aria-controls="sidebar">
                            <%=currUser.username%>
                                <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    alt="Profile Image" class="profile-img-navbar ms-3">
                        </button>
                        <% } %>
        </div>
        <div class="collapse navbar-collapse navColor texts" id="navbarNavAltMarkup">
            <% if(currUser && currUser.username==="priyanshu_2384" ) { %>
                <div class="navbar-nav">
                    <h5 class="navbar-nav texts">Admin Login</h5>
                </div>
                <% } %>
                    <div class="navbar-nav">
                        <a class="nav-link texts" href="/listings">Explore</a>
                    </div>
                    <div class="navbar-nav">
                        <a class="nav-link texts" href="/listings/new">Add New Listing</a>
                    </div>


                    <% if(currUser && currUser.username==="priyanshu_2384" ) { %>
                        <div class="navbar-nav">
                            <a class="nav-link texts" href="/AllBookings">All Bookings</a>
                        </div>
                        <% } %>
                            <% if(currentPath=="/listings" || currentPath=="/listings/filter/byPrice" ||
                                currentPath=="/listings/topRated" ) { %>
                                <div class="navbar-nav ms-auto ">
                                    <form class="d-flex" role="search" method="POST" action="/listings/city">
                                        <input class="form-control search-inp me-2" type="search" name="country"
                                            placeholder="Search country" required>
                                        <button class="btn btn-search texts" type="submit"> <i
                                                class="fa-solid fa-magnifying-glass texts"></i>Search</button>
                                    </form>
                                </div>
                                <% } %>
                                    <div class="navbar-nav ms-auto d-flex align-items-center">
                                        <% if(!currUser) { %>
                                            <div class="navbar-nav sidebar-profile">
                                                <a class="nav-link texts" href="/signup"><b>Sign up</b></a>
                                            </div>
                                            <div class="navbar-nav sidebar-profile">
                                                <a class="nav-link texts" href="/login"><b>Log in</b></a>
                                            </div>
                                            <% }  else { %>
                                                    <div class="navbar-nav sidebar-profile">
                                                        <button class="nav-link texts" type="button"
                                                            data-bs-toggle="offcanvas" data-bs-target="#sidebar"
                                                            aria-controls="sidebar">
                                                            <%=currUser.username%>
                                                                <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                                    alt="Profile Image" class="profile-img-navbar ms-3">

                                                        </button>
                                                    </div>
                                                    <% } %>

                                    </div>
        </div>
</nav>

<% if(currUser) { %>
    <div class="offcanvas offcanvas-end secbg" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
        <div class="offcanvas-header secbg">
            <div class="close-div secbg">
                <h5 class="texts"> </h5>
                <button type="button" class="btn-close texts" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="profile-head secbg">
                <a href="/profile">
                    <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        style="object-fit: cover;" alt="Profile Image" class="profile-img mb-3">
                </a>
                <h5 id="sidebarLabel" class="texts">
                    <%= currUser.username %>
                </h5>
            </div>
        </div>
        <div class="offcanvas-body secbg">
            <ul class="list-group secbg">
                <li class="list-group-item secbg">
                    <i class="fas fa-user me-2 texts"></i>
                    <a class="nav-link texts" href="/profile">Profile</a>
                </li>
                <li class="list-group-item secbg">
                    <i class="fa-solid fa-house me-2 texts"></i>
                    <a class="nav-link texts" href="/myBookings">My Bookings</a>
                </li>
                <li class="list-group-item secbg">
                    <i class="fas fa-question-circle me-2 texts"></i>
                    <a class="nav-link texts" href="/help">Help</a>
                </li>
                <li class="list-group-item secbg">
                    <i class="fas fa-envelope me-2 texts"></i>
                    <a class="nav-link texts" href="/contact">Contact</a>
                </li>
                <li class="list-group-item secbg">
                    <i class="fas fa-sign-out-alt me-2 texts"></i>
                    <a class="nav-link texts" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <% } %>