<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link">Home</a>
                <a class="nav-link" href="/listings">All Listings</a>
                <a class="nav-link" href="/listings/new">Add New Listing</a>
            </div>
            <% if(currUser && currUser.username==="priyanshu_2384") { %>
            <div class="navbar-nav ">
                <a class="nav-link" href="/AllBookings">All Bookings</a>
            </div>
            <div class="navbar-nav ms-3">
                <h5 class="navbar-nav">Admin Login</h5>
            </div>
            <% } %>
            <div class="navbar-nav ms-auto me-2">
                <% if(!currUser) { %>
                    <a class="nav-link" href="/signup">Sign up</a>
                    <a class="nav-link" href="/login">Log in</a>
                <% } %>
                <% if(currUser) { %>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle me-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @<%=currUser.username%>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="nav-link dropdown-item" href="/logout">Log out</a></li>
                        </ul>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</nav>