    :root {
        --pink: #fe424d;
        --bg: #ffffff;
        --text: #282828;
        --sec: #ffff;
    }

    .darkmd {
        --pink: #fe424d;
        --bg: #282828;
        --text: #ffffff;
        --sec: #31363F;
    }

    .dark {
        border: none;
        color: var(--text) !important;
        background-color: transparent;
    }

    .bg {
        background-color: var(--bg) !important;
    }

    .secbg {
        background-color: var(--sec) !important;
    }

    .texts {
        color: var(--text) !important;
    }

    body {
        font-family: "Plus Jakarta Sans", sans-serif !important;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .bg {
        background-color: var(--bg) !important;
    }

    .secbg {
        background-color: var(--sec) !important;
    }

    .texts {
        color: var(--text) !important;
    }

    .container {
        flex: 1;
    }

    /* Navbar */
    .navbar {
        height: 5rem;
        background-color: white;
    }

    .fa-compass {
        color: #fe424d;
        font-size: 2rem;
    }

    .nav-link {
        color: #222222 !important;
    }

    .f-info-links a {
        text-decoration: none;
        color: #222222;
    }

    .f-info-links a:hover {
        text-decoration: underline;
    }

    .f-info-links {
        width: 100%;
    }

    .f-info-socials {
        width: 100%;
        font-size: 1.3rem;
    }


    .f-info-socials i {
        margin-right: 1rem;
    }

    .f-info {
        text-align: center;
        height: 8rem;
        display: flex;
        background-color: #ebebeb;
        flex-wrap: wrap;
        justify-content: center;
        align-items: space-evenly;
    }

    .listing-card {
        border: none !important;
        margin-bottom: 2rem;
    }

    .card-show {
        border: none !important;
    }

    .card-img-top {
        border-radius: 1rem !important;
        width: 100% !important;
        object-fit: cover !important;
    }

    .card-body {
        padding: 2 !important;
    }

    .card-text p {
        font-weight: 400;
    }

    .listing-link {
        text-decoration: none !important;
    }

    /* Card Affect */
   

    .add-btn,
    .edit-btn {
        background-color: #fe424d !important;
    }

    .show-img {
        height: 25vw;
    }

    @media screen and (max-width : 1028px) {
        .show-img {
            height: 45vh;
        }
    }

    .show-page {
        justify-content: center !important;
    }

    .btns {
        display: flex !important;
        color: #222222 !important;
    }

    .show-card {
        padding-left: 0;
        padding-right: 0;
    }

    .social-links {
        color: #222222 !important;
        opacity: 1;
    }

    .social-links:hover {
        opacity: 0.7;
    }

    .img-hover {
        opacity: 1;
        box-shadow: 2px 2px 5px;
    }

    .img-hover:hover {
        opacity: 0.7;
        background-color: white;
        box-shadow: 3px 3px 10px;
    }

    .head {
        display: flex;
    }
    .form-control:focus {
        box-shadow: 0 0 0 0.2rem var(--pink) !important;
        border-color: var(--pink) !important;
    }

    .form-control {
        border-color: var(--text) !important;
        background-color: var(--sec) !important;
        color: var(--text) !important;
    }

    input::placeholder {
        color: var(--text) !important;
        opacity: 1;
    }
    .form-control::placeholder {
        color: var(--text) !important;
    }
    .by-price:hover {
        background-color: rgba(0, 0, 0, 0.162) !important;
    }

    /* profile */ 
    .profile-form {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    .profile-page-img {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    @media (max-width: 990px) {
        .profile-page-img {
            flex-direction: column;
            align-items: unset;
            justify-content: center;
        }
    }
   
    .profile-heading {
        display : flex;
        width : 320px;
        justify-content: center;
    }
    /* 
  .filter {
      display : flex;
  }
  .inline {   
      display: inline-block; 
      margin:10px;
  } */